<phpunit bootstrap="tests/autoload.php"
         colors="true"
         processIsolation="false">
    <logging>
        <log type="coverage-html" target="report"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <!-- override php ini settings -->
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="everything">
            <directory>tests/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
